
#form-1, #form-2{
  display: flex;
  flex-flow: column;
  width: 100%;
}

@media screen and (min-width: 768px){
  #signup-form{
    width: 35%;
  }

}

@media screen and (min-width: 1024px){
  #signup-form{
    flex-flow: row wrap;
    justify-content: space-around;
    width: 90%;
  }

  #form-1, #form-2{
    width: 40%;
  }
  
}