
#login-signup-main{
  width: 100%;
}

#logo-title{
  justify-content: center;
  width: 100%;
  margin-bottom: 150px;
}

#login-form{
  border:none;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: auto;
  margin: auto;
  margin-bottom: 150px;
}

form h3{
  margin-bottom: 20%;
  font-size: 170%;
  font-weight: bold;
  text-align: center;
  color: #373867;
}

.error-msg{
  font-size: 55%;
  color: #F13312;
  padding: 1% 0%;
  /* visibility: hidden; */
}

#forgotpw-button{
  border: none;
  background-color: #fff;
  font-size: 55%;
  font-weight: bold;
  color: #373867;
}

label{
  color:#373867;
}

.remember-forgotpw-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.remember-forgotpw-container label{
  font-size: 75%;
  font-weight: bold;
  padding: 0px;
  margin-left: 1%;
}
.remember-forgotpw-container input{
  margin: 0%;
}

.check-remember{
  display: flex;
  align-items: flex-end;
  width: 50%;
}

.login-button{
  width: 60%;
  padding: 5% 10%;
  align-self: center;
  background-color: #AACE9B;
  color:#505168;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin-top: 30%;
}

@media screen and (min-width: 768px){
  #login-form{
    width: 35%;
  }
}