
form h3{
  margin-bottom: 60px;
  width: 100%;
  font-size: 170%;
  font-weight: bold;
  text-align: center;
  color: #373867;
}

label{
  color:#373867;
}

#login-signup-main{
  width: 100%;
}

#logo-title{
  justify-content: center;
  width: 100%;
  margin-bottom: 150px;
}

.login-signup-form{
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: auto;
  margin-bottom: 150px;
  border:none;
}

.error-msg{
  visibility: hidden;
  padding: 1% 0%;
  font-size: 55%;
  color: #F13312;
}

.invalid-input{
  background-color: #F1331270;
}

.login-signup-button{
  align-self: center;
  margin-top: 30%;
  width: 60%;
  padding: 5% 10%;
  border: none;
  border-radius: 10px;
  background-color: #AACE9B;
  font-weight: bold;
  color:#505168;
}