<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/landing.css">
  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="stylesheet" href="../styles/employee-signup.css">
  <link rel="stylesheet" href="../styles/footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="../javascript/employee-signup.js"></script>
  <title>Trackgenix</title>
</head>
<body>
  <header>
    <div class="menu-burger"> 
      <button class="burger">
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <div class="tutorials-contact">
      <ul>
        <li><a href="#">Tutorials</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="search-container">
      <input class="search-bar" type="text" placeholder="Search..">
    </div>
    <div class="search-icon">
      <i class="fa fa-search"></i>
    </div>
    <div class="buttons-container">
      <button class="button">
        <a href="index.html">Home</a>
      </button>
      <button class="button">
        <a href="login.html">Login</a>
      </button>
    </div>
  </header>
  <main id="login-signup-main">
    <div class="main-header" id="logo-title">
      <img class="logo" src="https://cdn.worldvectorlogo.com/logos/tether.svg" alt="logo" />
      <div class="title-container">
        <h1>TRACKGENIX</h1>
        <h2>DATA MANAGMENT</h2>
      </div>
    </div>
    <form class="login-signup-form" id="signup-form"> 
      <h3>Sign Up</h3>
      <div id='form-1'>
        <label>Name:</label>
        <input id="name" type="text" placeholder="Write your name">
        <span id="name-error" class="error-msg">Must contain more than 3 letters</span>
        <label>Last Name:</label>
        <input id="last-name" type="text" placeholder="Write your last name">
        <span id="lastname-error" class="error-msg">Must contain more than 3 letters</span>
        <label>Document:</label>
        <input id="document" type="text" placeholder="Write your document number">
        <span id="document-error" class="error-msg">Must contain at least 8 numbers</span>
        <label>Date of Birth:</label>
        <input id="date" type="date" placeholder="Write your birth date">
        <span id="date-error" class="error-msg">Invalid date</span>
        <label>Phone Number:</label>
        <input id="phone" type="text" placeholder="Write your phone number">
        <span id="phone-error" class="error-msg">Must contain 10 numbers</span>
        <label>Direction:</label>
        <input id="direction" type="text" placeholder="Write your direction">
        <span id="direction-error" class="error-msg">Must be at least 5 characters long with letters, numbers, and space between.</span>
      </div>
      <div id="form-2">
        <label>Location:</label>
        <input id="location" type="text" placeholder="Write your location">
        <span id="location-error" class="error-msg">Must contain numbers and at least 3 letters</span>
        <label>Postal Code:</label>
        <input id="postal-code" type="text" placeholder="Write your postal code">
        <span id="postalcode-error" class="error-msg">Must contain 4 or 5 numbers</span>
        <label>Email:</label>
        <input id="signup-email" type="email" placeholder="Write your email">
        <span id="signup-email-error" class="error-msg">Invalid Email</span>
        <label>Password:</label>
        <input id="pw" type="password" placeholder="Write your password">
        <span id="pw-error" class="error-msg">Must be at least 8 characters long, containing numbers and letters</span>
        <label>Repeat password:</label>
        <input id="confirm-pw" type="password" placeholder="Confirm your password">
        <span id= "confirm-pw-error" class="error-msg">Must be at least 8 characters long, containing numbers and letters</span>
        <button id="signup-button" class="login-signup-button">Sign up</button>
      <div>
    </form>
  </main>
  <footer>
    <div class="footer-icons">
      <a href="https://www.linkedin.com/">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="https://www.twitter.com/">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://www.facebook.com/">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="https://www.instagram.com/">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="https://www.github.com/">
        <i class="fa fa-github"></i>
      </a>
    </div>
    <div class="span-container"> 
      <span>Montevideo, Uruguay</span>
      <span id="copyright">Copyright &copy; 2022 Radium Rocket. All rights reserved.</span>
    </div>
  </footer>
</body>
</html>