<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/landing.css">
  <link rel="stylesheet" href="../styles/login.css">
  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="stylesheet" href="../styles/footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="../javascript/login.js"></script>
  <title>Trackgenix</title>
</head>
<body>
  <header>
    <div class="menu-burger"> 
      <button class="burger">
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <div class="tutorials-contact">
      <ul>
        <li><a href="#">Tutorials</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="search-container">
      <input class="search-bar" type="text" placeholder="Search..">
    </div>
    <div class="search-icon">
      <i class="fa fa-search"></i>
    </div>
    <div class="buttons-container">
      <button class="button">
        <a href="index.html">Home</a>
      </button>
      <button class="button">
        <a href="employee-signup.html">Sign Up</a>
      </button>
    </div>
  </header>
  <main id="login-signup-main">
    <div class="main-header" id="logo-title">
      <img class="logo" src="https://cdn.worldvectorlogo.com/logos/tether.svg" alt="logo" />
      <div class="title-container">
        <h1>TRACKGENIX</h1>
        <h2>DATA MANAGMENT</h2>
      </div>
    </div>
    <form class="login-signup-form" id="login-form">
      <h3>Login</h3>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email">
      <span class="error-msg">Wrong Email</span>
      <label for="pwd">Password:</label>
      <input type="password" id="pwd">
      <span class="error-msg">Wrong Password</span>
      <div class="remember-forgotpw-container">
        <div class="check-remember">
        <input type="checkbox" value="remember-checkbox">
        <label>Remember me</label>
        </div>
        <button id="forgotpw-button">Forgot your password?</button>
      </div>
      <button class="login-signup-button">Login</button>
    </form>
  </main>
  <footer>
    <div class="footer-icons">
      <a href="https://www.linkedin.com/">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="https://www.twitter.com/">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://www.facebook.com/">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="https://www.instagram.com/">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="https://www.github.com/">
        <i class="fa fa-github"></i>
      </a>
    </div>
    <div class="span-container"> 
      <span>Montevideo, Uruguay</span>
      <span id="copyright">Copyright &copy; 2022 Radium Rocket. All rights reserved.</span>
    </div>
  </footer>
</body>
</html>