footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px 0px;
    text-align: center;
    font-size: 9px;
}

footer a{
    margin-left: 1%;
    text-decoration: none;
    color: #505168;
}

footer a:visited{
    text-decoration: none;
    color: #505168;
}

.footer-icons i{
    text-align: center;
    margin-bottom: 1%;
}


.span-container{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", Oxygen, Ubuntu, Cantarell, sans-serif;
}


@media screen and (min-width: 768px){
    footer{
        font-size: 22px;
    }

    .footer-icons i{
        font-size: 15px;
    }
}