footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px 0px;
    text-align: center;
    font-size: 9px;
}

footer a{
    margin-left: 5px;
    font-size: 20px;
    text-decoration: none;
    color: #505168;
}

footer a:visited{
    text-decoration: none;
    color: #505168;
}

.footer-icons i{
    font-size: 9px;
    text-align: center;
}


.span-container{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", Oxygen, Ubuntu, Cantarell, sans-serif;
}