body{
    box-sizing: border-box;
    font-family: "Roboto", Oxygen, Ubuntu, Cantarell, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #50A780;
    width: 100%;
    height: 6%;
}

.menu-burger{
    margin-left: 5px;
}

.burger{
    background-color: #50A780;
    border: none;
    font-size: 15px;
    font-weight: lighter;
    color: #fff;
}

.tutorials-contact{
    flex:0.5;
    height: 100%;
    display: flex;
}

.tutorials-contact ul{
    display: flex;
    align-self: center;

}

.tutorials-contact a{
    font-size: 17px;
    text-decoration: none;
    color: #000;
}

.tutorials-contact li:last-child{
    border-left: #000 1px solid;
    padding-left: 6px;
}

.tutorials-contact li:first-child{
    padding-right: 6px;
}

.tutorials-contact a:visited{
    color: #000;
}


.search-container{
    flex: 4;
    display: flex;
    align-items: center;
    height: 100%;
}

.search-bar{
    width: 100%;
    height: 75%;
    padding-left: 20px;
    background-image: url(https://icon-library.com/images/search-magnifying-glass-icon/search-magnifying-glass-icon-3.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-size: 15px;
    border: none;
    border-radius: 200px;
    font-size: 20px;
}

.search-icon {
    font-size: 15px;
    font-weight: lighter;
    color: #fff;
    order: 4;
    margin-right: 5px;
}

.buttons-container{
    display: flex;
    height: 100%;
}

.button{
    margin:5px;
    background-color: #fff;
    border: none;
    border-radius: 200px;
    font-size: 19px;
    padding: 0px 15px;
}



@media screen and (max-width: 767px){

    .tutorials-contact{
        display: none;
    }

    .search-container{
        display: none;
    }
}


@media screen and (min-width: 768px){
    header{
        justify-content: space-between;
        margin: auto;
    }

    .tutorials-contact{
        justify-content: flex-end;
    }

    .search-icon, .tutorials-contact li:first-child{
        display: none;
    }

    .search-container{
        flex:2;
        justify-content: center
    }

    .search-bar{
        width: 65%;
    }

    .buttons-container{
        flex:1;
        justify-content: space-around;
        height: 100%;
        width: 100%;
    }

    .button{
        padding: 2% 8%;
        font-size: 19px;
        align-self: center;
    }
}

@media screen and (min-width: 1024px){
    .buttons-container{
        flex:1;
    }

    .search-container{
        flex: 2;
    }

    .tutorials-contact{
        flex:1;
    }
    .tutorials-contact li:first-child{
        display: flex;
    }
}